doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Novo Produto
    link(rel="stylesheet", href="/css/style.css")

  body
    .page-container
      .form-container
        h2 Novo Produto
        button.voltar-btn(type="button", onclick="window.location.href='/'") Voltar



        form(action="/produtos/novo", method="post", enctype="multipart/form-data")
          label Nome:
          input(type="text", name="nome", required)

          label Descrição:
          textarea(name="descricao", required)

          label Preço:
          input(type="number", step="0.01", name="preco", required)

          label Desconto (%):
          input(type="number", step="0.01", name="desconto")

          label(for="tamanho") Tamanho:
          input(type="text", id="tamanho", name="tamanho", placeholder="Ex: 37, 38, 39...", required)

          label Categoria:
          select(name="categoriaId", required)
            each categoria in categorias
              option(value=categoria.id)= categoria.nome

          label Imagens do Produto (até 10):
          input(type="file", name="imagens", accept="image/*", multiple)

          button(type="submit", class="btn-primary") Cadastrar
