doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nova Categoria
    link(rel="stylesheet", href="/css/style.css")

  body
    .page-container
      .form-container
        h2 Nova Categoria
        button.voltar-btn(type="button", onclick="window.location.href='/'") Voltar

        form(action="/categorias/nova", method="post", class="categoria-form")
          label Nome:
          input(type="text", name="nome", placeholder="Nome da categoria", required)
          button(type="submit", class="admin-btn") Cadastrar
